# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
/themes/
/scripts/
/profiles/
/modules/
/misc/
/includes/
/.idea/
/sites/example.sites.php
/sites/default/default.settings.php
/m_strada/
/.editorconfig
/.htaccess
/authorize.php
/cron.php
/index.php
/update.ph
/web.config
/xmlrpc.php
/sites/all/modules/addressfield/
/sites/all/modules/admin_menu/
/sites/all/modules/admin_views/
/sites/all/modules/ajax_register/
/sites/all/modules/autocomplete_deluxe/
/sites/all/modules/autodialog/
/sites/all/modules/backup_migrate/
/sites/all/modules/behavior_weights/
/sites/all/modules/calendar/
/sites/all/modules/captcha/
/sites/all/modules/chosen/
/sites/all/modules/ckeditor/
/sites/all/modules/commerce/
/sites/all/modules/commerce_addressbook/
/sites/all/modules/commerce_autosku/
/sites/all/modules/commerce_canadapost/
/sites/all/modules/commerce_checkout_redirect/
/sites/all/modules/commerce_coupon/
/sites/all/modules/commerce_custom_order_status/
/sites/all/modules/commerce_custom_product/
/sites/all/modules/commerce_discount/
/sites/all/modules/commerce_drupalgap/
/sites/all/modules/commerce_extra/
/sites/all/modules/commerce_flat_rate/
/sites/all/modules/commerce_option/
/sites/all/modules/commerce_physical/
/sites/all/modules/commerce_price_savings_formatter/
/sites/all/modules/commerce_pricing_attributes/
/sites/all/modules/commerce_product_attributes/
/sites/all/modules/commerce_product_urls/
/sites/all/modules/commerce_rbspayment/
/sites/all/modules/commerce_search_api/
/sites/all/modules/commerce_services/
/sites/all/modules/commerce_shipping/
/sites/all/modules/commerce_wishlist/
/sites/all/modules/ctools/
/sites/all/modules/dadata/
/sites/all/modules/date/
/sites/all/modules/devel/
/sites/all/modules/double_field/
/sites/all/modules/drupalgap/
/sites/all/modules/entity/
/sites/all/modules/entityreference/
/sites/all/modules/fancybox/
/sites/all/modules/field_collection/
/sites/all/modules/field_formatter_class/
/sites/all/modules/field_formatter_settings/
/sites/all/modules/field_group/
/sites/all/modules/file_entity/
/sites/all/modules/filefield_paths/
/sites/all/modules/fivestar/
/sites/all/modules/flag/
/sites/all/modules/flexslider/
/sites/all/modules/fz152/
/sites/all/modules/genpass/
/sites/all/modules/globalredirect/
/sites/all/modules/hacked/
/sites/all/modules/i18n/
/sites/all/modules/ife/
/sites/all/modules/image_url_formatter/
/sites/all/modules/inline_conditions/
/sites/all/modules/inline_entity_form/
/sites/all/modules/jquery_update/
/sites/all/modules/l10n_pconfig/
/sites/all/modules/l10n_update/
/sites/all/modules/libraries/
/sites/all/modules/local_tasks_blocks/
/sites/all/modules/login_emailusername/
/sites/all/modules/logintoboggan/
/sites/all/modules/mailsystem/
/sites/all/modules/media/
/sites/all/modules/media_ckeditor/
/sites/all/modules/metatag/
/sites/all/modules/mimemail/
/sites/all/modules/module_filter/
/sites/all/modules/page_theme/
/sites/all/modules/path_breadcrumbs/
/sites/all/modules/pathauto/
/sites/all/modules/phpmailer/
/sites/all/modules/physical/
/sites/all/modules/realname/
/sites/all/modules/recaptcha/
/sites/all/modules/redirect/
/sites/all/modules/rpt/
/sites/all/modules/rules/
/sites/all/modules/rustemmer/
/sites/all/modules/search_api/
/sites/all/modules/search_api_autocomplete/
/sites/all/modules/search_api_db/
/sites/all/modules/search_api_live_results/
/sites/all/modules/search_api_page/
/sites/all/modules/seckit/
/sites/all/modules/services/
/sites/all/modules/taxonomy_display/
/sites/all/modules/taxonomy_menu/
/sites/all/modules/token/
/sites/all/modules/transliteration/
/sites/all/modules/userpoints/
/sites/all/modules/variable/
/sites/all/modules/variable_extra/
/sites/all/modules/views/
/sites/all/modules/views_bootstrap/
/sites/all/modules/views_bulk_operations/
/sites/all/modules/views_data_export/
/sites/all/modules/views_datasource/
/sites/all/modules/votingapi/
/sites/all/modules/wysiwyg/
/sites/all/modules/xmlsitemap/
/sites/all/modules/yandex-money-cms-v2/
/sites/all/modules/flagging_form/
/sites/all/modules/views_term_path/
/sites/all/modules/ga_push/
/sites/all/modules/commerce_google_analytics/
/sites/all/modules/google_analytics/
/sites/all/modules/advagg/
/sites/all/modules/module_missing_message_fixer/
/sites/all/modules/addressfield/
/sites/all/modules/admin_menu/
/sites/all/modules/admin_views/
/sites/all/modules/advagg/
/sites/all/modules/ajax_register/
/sites/all/modules/autocomplete_deluxe/
/sites/all/modules/autodialog/
/sites/all/modules/backup_migrate/
/sites/all/modules/behavior_weights/
/sites/all/modules/calendar/
/sites/all/modules/captcha/
/sites/all/modules/chosen/
/sites/all/modules/ckeditor/
/sites/all/modules/commerce/
/sites/all/modules/commerce_addressbook/
/sites/all/modules/commerce_autosku/
/sites/all/modules/commerce_canadapost/
/sites/all/modules/commerce_checkout_redirect/
/sites/all/modules/commerce_coupon/
/sites/all/modules/commerce_custom_order_status/
/sites/all/modules/commerce_custom_product/
/sites/all/modules/commerce_discount/
/sites/all/modules/commerce_drupalgap/
/sites/all/modules/commerce_extra/
/sites/all/modules/commerce_flat_rate/
/sites/all/modules/commerce_google_analytics/
/sites/all/modules/commerce_option/
/sites/all/modules/commerce_physical/
/sites/all/modules/commerce_price_savings_formatter/
/sites/all/modules/commerce_pricing_attributes/
/sites/all/modules/commerce_product_attributes/
/sites/all/modules/commerce_product_urls/
/sites/all/modules/commerce_search_api/
/sites/all/modules/commerce_services/
/sites/all/modules/commerce_shipping/
/sites/all/modules/commerce_wishlist/
/sites/all/modules/ctools/
/sites/all/modules/dadata/
/sites/all/modules/date/
/sites/all/modules/devel/
/sites/all/modules/double_field/
/sites/all/modules/drupalgap/
/sites/all/modules/entity/
/sites/all/modules/entityreference/
/sites/all/modules/fancybox/
/sites/all/modules/field_collection/
/sites/all/modules/field_formatter_class/
/sites/all/modules/field_formatter_settings/
/sites/all/modules/field_group/
/sites/all/modules/file_entity/
/sites/all/modules/filefield_paths/
/sites/all/modules/fivestar/
/sites/all/modules/flag/
/sites/all/modules/flagging_form/
/sites/all/modules/flexslider/
/sites/all/modules/fz152/
/sites/all/modules/ga_push/
/sites/all/modules/genpass/
/sites/all/modules/globalredirect/
/sites/all/modules/google_analytics/
/sites/all/modules/hacked/
/sites/all/modules/i18n/
/sites/all/modules/ife/
/sites/all/modules/image_url_formatter/
/sites/all/modules/inline_conditions/
/sites/all/modules/inline_entity_form/
/sites/all/modules/jquery_update/
/sites/all/modules/l10n_pconfig/
/sites/all/modules/l10n_update/
/sites/all/modules/libraries/
/sites/all/modules/local_tasks_blocks/
/sites/all/modules/login_emailusername/
/sites/all/modules/logintoboggan/
/sites/all/modules/mailsystem/
/sites/all/modules/media/
/sites/all/modules/media_ckeditor/
/sites/all/modules/metatag/
/sites/all/modules/mimemail/
/sites/all/modules/module_filter/
/sites/all/modules/module_missing_message_fixer/
/sites/all/modules/page_theme/
/sites/all/modules/path_breadcrumbs/
/sites/all/modules/pathauto/
/sites/all/modules/phpmailer/
/sites/all/modules/physical/
/sites/all/modules/realname/
/sites/all/modules/recaptcha/
/sites/all/modules/redirect/
/sites/all/modules/rpt/
/sites/all/modules/rules/
/sites/all/modules/rustemmer/
/sites/all/modules/search_api/
/sites/all/modules/search_api_autocomplete/
/sites/all/modules/search_api_db/
/sites/all/modules/search_api_live_results/
/sites/all/modules/search_api_page/
/sites/all/modules/seckit/
/sites/all/modules/services/
/sites/all/modules/taxonomy_display/
/sites/all/modules/taxonomy_menu/
/sites/all/modules/token/
/sites/all/modules/transliteration/
/sites/all/modules/userpoints/
/sites/all/modules/variable/
/sites/all/modules/variable_extra/
/sites/all/modules/views/
/sites/all/modules/views_bootstrap/
/sites/all/modules/views_bulk_operations/
/sites/all/modules/views_data_export/
/sites/all/modules/views_datasource/
/sites/all/modules/views_term_path/
/sites/all/modules/votingapi/
/sites/all/modules/wysiwyg/
/sites/all/modules/xmlsitemap/
/sites/all/modules/yandex-money-cms-v2/
